a.a.a--btn.a--btn-login(
  href='/login'
  class= deviceType !== 'desktop' ? '' : 'ani-hover-shiftup'
)
  | Login
a.a.a--btn.a--btn-signup(
  href='/signup'
  class= deviceType !== 'desktop' ? '' : 'ani-hover-shiftup'
)
  | Signup
