doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    meta(name="title" property="og:title" content="Skribble Custom Words")
    meta(name="description" content="A group word sharing platform meant to be used in conjunction with private skribbl.io games")
    meta(property="og:type" content="game")
    meta(name="image" property="og:image" content="/images/meta-image.gif")
    meta(name="description" property="og:description" content="A group word sharing platform meant to be used in conjunction with private skribbl.io games")
    meta(name="author" content="Abraham Fong")

    link(rel='stylesheet' href='/css/scw.css')
    link(rel='shortcut icon' type='image/png' href='/images/favicon.ico')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    script(src='https://kit.fontawesome.com/d4d4bc9d96.js' crossorigin='anonymous')
    title Skribble Custom Words
  body
    include nav
    block content
    script(src='/js/scw.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
