.form__group.form__group--custom-words
  a.a.a--btn.a--btn-custom-words.ani-hover-shiftup Get Custom Words
  a.a.a--btn.a--btn-copy
    .fas.fa-copy
  //-.c-wordlist__difficulty.c-wordlist__difficulty--difficulty-selection(
  //-  style='height: 40px;'
  //-)
  //-  .c-container.c-container--difficulty-selection
  //-    i.i.i--wordform.fas.fa-angle-left(
  //-      class= deviceType !== 'desktop' ? '' : 'ani-hover-shiftup'
  //-    )
  //-  .c-container.c-container--difficulty-selection
  //-    i.i.i--wordform.fas.fa-angle-right(
  //-      class= deviceType !== 'desktop' ? '' : 'ani-hover-shiftup'
  //-    )
  //-  input.input--submit-hidden(name='difficulty' value='easy')
.c-wordlist__entry.c-wordlist__entry--custom-words
