extends base
block content
  .c-container.c-container--center.c-container--m-top
    .logo.logo--login.fas.fa-palette
    form#login-form.form
      input#user.input(type='text' placeholder='email or username')
      input#password.input(type='password' placeholder='password' minlength='8')
      input.input.input--submit.input--submit-bg-magenta(
        type='submit'
        class= deviceType !== 'desktop' ? '' : 'ani-hover-shiftup'
      )
    //-a.a.a--login(href='/forgotPassword') forgot your password?
    br
    a.a.a--login(href='/signup') Don't have an account? Sign up!
