/* AUTHOR: Abraham Fong
 * ORGANIZATION:
 *   - BEM Methodology
 *   - ORDER:
 *     - block
 *     - block--modifier
 *     - block__element
 *     - block__element--modifier
 * NAMESPACES:
 *   - ani-<state>-<animation name>
 *   - c-<component name>
 */

html {
  background-image: url("/images/background.png");
  background-size: auto 20vw;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

input,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

/* --------------------------------------------------------------------------
 * Animations
 * -------------------------------------------------------------------------- */

.ani-hover-shiftup,
.ani-hover-shiftup:link,
.ani-hover-shiftup:visited {
  /* Style */
  display: inline-block;
  -webkit-transition: transform 0.2s;
  -mos-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
}

.ani-hover-shiftup:hover,
.ani-hover-shiftup:active {
  /* Style */
  -webkit-transform: translateY(-2px);
  -mos-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: 0 1px 1px #aaaaaa88;
}

/* --------------------------------------------------------------------------
 * LOGOS
 * -------------------------------------------------------------------------- */

.logo {
  /* Style */
  color: transparent;
  font-size: 25vw;
  -webkit-background-clip: text;
}

.logo--login {
  /* Spacing */
  margin-bottom: 7.5vh;

  /* Style */
  background-image: linear-gradient(.375turn, #ff0000, #f90096, #ff00ff, #9600ff, #8500f9);
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.logo--login:hover {
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn);
}

.logo--signup {
  /* Spacing */
  margin: 7.5vh auto 0;

  /* Style */
  background-image: -webkit-linear-gradient(.375turn, #272727, #2b272e, #383949), -webkit-linear-gradient(.375turn, yellow, yellow);
  background-image: -o-linear-gradient(.375turn, #272727, #2b272e, #383949), -o-linear-gradient(.375turn, yellow, yellow);
  background-image:
    linear-gradient(.375turn, #ffe05f, #eeb400, #e77500, #eeb400, #ffe05f),
    url("/images/space.gif");
  background-position: 100% 100%, 50% 50%;
  background-size: 17.75% 45%, 100%;
  background-repeat: no-repeat;
  font-size: 20vw;
  -webkit-background-clip: text;
}

/* --------------------------------------------------------------------------
 * COMPONENTS
 * -------------------------------------------------------------------------- */
.c-alert {
  /* Dimesions */
  box-sizing: border-box;
  width: 33.33vw;

  /* Position */
  left: calc((100vw - 33.33vw) / 2);
  top: 0;

  /* Spacing */
  padding: 5vh 2vw;

  /* Style */
  border-radius: 0 0 4px 4px;
  color: white;
  position: fixed;
  text-align: center;
  z-index: 99999;
}

.c-alert--error {
  /* Style */
  /* background-color: #ff4141ee; */
  background-image: -webkit-linear-gradient(.375turn, #272727, #2b272e, #383949);
  background-image: -o-linear-gradient(.375turn, #272727, #2b272e, #383949);
}

.c-alert--success {
  /* Style */
  /* background-color: #5ba95dee; */
  background-image: -webkit-linear-gradient(.375turn, #272727, #2b272e, #383949);
  background-image: -o-linear-gradient(.375turn, #272727, #2b272e, #383949);
}

.c-container {
  /* Dimensions */
  height: 100%;
  width: 100%;
}

.c-container--m-top {
  /* Spacing */
  margin-top: 7.5vh;
}

.c-container--center-third {
  /* Dimensions */
  width: 33.33vw;

  /* Spacing */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.c-container--difficulty-selection {
  /* Dimensions */
  width: 50%;

  /* Style */
  background: transparent;
  cursor: pointer;
  display: inline-block;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  text-align: center;
}

/* Tooltip text */
.c-tooltip {
  /* Position */
  position: absolute;
  z-index: 100;

  /* Style */
  background-color: black;
  color: #fff;
  font-family: 'Lato', sans-serif;
  visibility: hidden;
}

/* .c-wordlist__action-btn:hover + .c-tooltip{
  visibility: visible;
} */

.c-tooltip--wordlist-entry-owner {
  /* Position */
  left: 0;
  top: 100%;

  /* Spacing */
  padding: 5px 4px;

  /* Style */
  border-radius: 0 0 6px 6px;
  font-size: 12px;
  text-align: center;
}

.c-tooltip--action-btn-usage {
  /* Dimensions */
  box-sizing: border-box;
  width: 100%;

  /* Position */
  left: 0;
  top: 100%;

  /* Spacing */
  padding: 18px 24px;

  /* Style */
  background-color: #3d3d3f;
  border-color: #2f2f30;
  border-radius: 0 0 6px 6px;
  border-top-style: solid;
  border-top-width: 1px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}

.c-wordlist {
  /* Dimensions */
  height: 75vh;
  width: 100%;

  /* Position */
  position: relative;

  /* Spacing */
  margin: 5% auto 5%;

  /* Style */
  border-bottom-style: solid;
  border-color: #aaaaaa22;
  border-width: 2px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.c-wordlist::-webkit-scrollbar {
  /* Style */
  display: none;
}

.c-wordlist--empty {
  /* Dimesons */
  /* calculated height is (wordlist height) - (padding top) */
  height: calc(75vh - (37.5vh - 32px - 16px - 1rem));
  width: calc(100% - 4px);

  /* Spacing */
  /* calulated padding is ((padding) - (p--wordlist font size) -
   *                      (a--wordlist font size) -
   *                      (p--wordlist bottom margin))
   */
  padding-top: calc(37.5vh - 32px - 16px - 1rem);

  /* Style */
  border-style: solid;
  border-color: #aaa;
  color: #aaa;
  text-align: center;
}

.c-wordlist__action-btn {
  /* Dimensions */
  width: 10%;

  /* Spacing */
  padding-top: 10px;

  /* Style */
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.c-wordlist__action-btn--bg-dark-grey {
  /* Style */
  background-color: #2f2f30;
}

.c-wordlist__action-btn--bg-dark-grey:active {
  /* Style */
  background-color: #2b2b30;
}

.c-wordlist__action-btn--bg-gold {
  /* Style */
  background-color: #fbaf08;
}

.c-wordlist__action-btn--bg-gold:active {
  /* Style */
  background-color: #db9907;
}

.c-wordlist__entry {
  /* Dimensions */
  min-height: 40px;

  /* Spacing */
  margin-top: 10px;

  /* Position */
  position: relative;

  /* Style */
  background-color: white;
  display: flex;
  font-size: 18px;
  text-align: left;
}

.c-wordlist__entry--duplicate-entry {
  /* Style */
  background-color: none;
  background-image: linear-gradient(.375turn, #d300fb, #f600f9);
}

.c-wordlist__entry--labels {
  /* Dimensions */
  width: 100%;

  /* Position */
  margin-top: 0;
  position: sticky;
  top: 0;

  /* Style */
  background-color: #3d3d3f;
  color: white;
}

.c-wordlist__entry--custom-words {
  /* Dimensions */
  height: 35vh;

  /* Spacing */
  margin-bottom: 7.5vh;
  padding: 10px;

  /* Style */
  overflow-y: scroll;
}

.c-wordlist__word {
  /* Dimensions */
  box-sizing: border-box;
  width: 70%;

  /* Spacing */
  padding: 7px 0 7px 1vw;

  /* Style */
  cursor: default;
}

.c-wordlist__word--label {
  /* Spacing */
  padding-top: 9px;

  /* Style */
  text-align: left;
}


.c-wordlist__difficulty {
  /* Dimensions */
  box-sizing: border-box;
  width: 20%;

  /* Style */
  cursor: default;
  text-align: center;
  overflow-x: scroll;
}

.c-wordlist__difficulty--difficulty-selection {
  /* Style */
  background-image: linear-gradient(to right, #50c878, #39ff14);
  font-size: 24px;
}

.c-wordlist__difficulty--label {
  /* Spacing */
  padding: 9px 8px 0;

  /* Style */
  color: white;
  background-color: #2f2f30;
  /* Make 'difficult' fit perfectly in label */
  font-size: calc(35vw * .175 / 1em);
}

.c-wordlist__difficulty--easy {
  /* Style */
  background-image: linear-gradient(to right, #50c878, #39ff14);
}

.c-wordlist__difficulty--medium {
  /* Style */
  background-image: linear-gradient(to right, #fff200, #fff200);
}

.c-wordlist__difficulty--hard {
  /* Style */
  background-image: linear-gradient(to right, #ed2939, #ff0800);
}

/* --------------------------------------------------------------------------
 * HTML tags
 * -------------------------------------------------------------------------- */

.a {
  /* Style */
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.a:hover,
.a:active {
  color: #cdc5bf;
}

.a--btn {
  /* Dimensions */
  box-sizing: border-box;
  height: 40px;

  /* Spacing */
  padding-top: calc((40px / 2) - (1.3em / 2));

  /* Style */
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25em;
  text-align: center;
}

.a--btn-copy {
  /* Spacing */
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;

  /* Style */
  background-color: white;
  color: black;
}

.a--btn-copy:active,
.a--btn-copy:hover {
  /* Style */
  color: black;
}

.a--btn-custom-words {
  /* Spacing */
  padding-left: 10px;
  padding-right: 10px;

  /* Style */
  background-image: linear-gradient(.375turn, #272727, #2b272e, #383949);
}

.a--btn-custom-words:hover,
.a--btn-custom-words:active {
  /* Style */
  color: white;
  text-shadow: none;
}

.a--btn-login {
  /* Dimensions */
  width: 47.5%;

  /* Spacing */
  margin-right: 2.5%;

  /* Style */
  background-image: linear-gradient(.375turn, #272727, #2b272e, #383949);
  color: white;
  display: inline-block;
}

.a--btn-login:hover {
  /* Style */
  color: white;
}

.a--btn-signup {
  /* Dimensions */
  width: 47.5%;

  /* Spacing */
  margin-left: 2.5%;

  /* Style */
  color: black;
  background-color: white;
  display: inline-block;
}

.a--btn-signup:hover {
  /* Style */
  color: black;
}

.a--wordlist,
.a--wordlist:link,
.a--wordlist:visited {
  /* Style */
  color: #ffe05f;
}

.a--wordlist:hover {
  /* Style */
  color: #e3b600;
  text-shadow: none;
}

.a--wordlist:active {
  /* Style */
  color: #ffeda1;
}

.a--user-action-msg {
  /* Style */
  font-size: 16px;
}

.form {
  /* Style */
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.form--password-change {
  /* Spacing */
  margin-bottom: 5vh;
}

.form__group {
  /* Dimesions */
  width: 100%;

  /* Style */
  display: flex;
  flex-direction: row;
}

.form__group--custom-words {
  /* Style */
  justify-content: left;
}

.form__group--wordform {
  /* Dimensions */
  height: 40px;
  width: 100%;

  /* Style */
  overflow-y: hidden;
}

.form__label {
  /* Spacing */
  padding: .25em 0;
  margin: 0;

  /* Style */
  font-size: 1em;
  text-align: left;
}

.form__label--wordform {
  /* Dimensions */
  width: 10%;

  /* Spacing */
  padding: 0;

  /* Style */
  background-color: white;
  cursor: pointer;
  text-align: center;
}

.h1 {
  /* Dimensions */
  width: 100%;

  /* Style */
  cursor: default;
  display: inline-block;
}

.h1--your-list-title {
  /* Spacing */
  margin: 0;
  margin-top: 7.5vh;
  padding: 0;

  /* Style */
  color: #f6f5f3;
  cursor: pointer;
  font-size: calc(33.33vw / 5.25);
  text-align: center;
}

.i {
  /* Style */
  color: inherit;
  font-size: 1em;
}

.i--wordform {
  /* Spacing */
  margin-top: 9px;

  /* Style */
  color: #2f2f30;
  font-size: 22px;
}

.i--wordform:active {
  /* Style */
  color: #585859;
}

.input {
  /* Dimensions */
  box-sizing: border-box;
  height: 40px;

  /* Spacing */
  margin: 5px 0;
  padding: 0 2.5% 0;

  /* Style */
  border: 0;
  font-size: 18px;
  font-style: inherit;
  font-weight: inherit;
  outline: none;
}

.input:valid {
  border-color: #39ff14;
}

.input:invalid {
  border-color: #ff4141;
}

.input--border-bottom {
  /* Style */
  border-style: solid;
  border-bottom-width: 3px;
}

.input--invalid:valid {
  border-color: #ff4141;
}

.input--name {
  /* Dimensions */
  width: calc(50% - 5px);
}

.input--name:first-of-type {
  /* Spacing */
  margin-right: 10px;
}

.input--submit {
  /* Dimensions */
  width: 25%;

  /* Spacing */
  padding-left: 0;
  padding-right: 0;
  margin-left: 75%;

  /* Style */
  background-color: #5ba95d;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;

}

.input--submit:hover {
  background-color: #ff4141;
}

.input--submit-hidden {
  /* Dimensions */
  height: 0;
  width: 0;

  /* Spacing */
  margin: 0;
  padding: 0;

  /* Style */
  border: 0;
  visibility: hidden;
}

.input--submit-bg-magenta,
.input--submit-bg-magenta:hover {
  /* Style */
  background-color: #ff00ff;
}

.input--valid {
  border-color: #39ff14;
}

.input--wordform-searchbar {
  /* Dimensions */
  width: 75%;

  /* Spacing */
  margin: 0;
  padding-left: 2.5%;

  /* Style */
  line-height: 1.6;
}

.nav {
  /* Dimensions */
  width: 100vw;

  /* Position */
  position: fixed;
  top: 0;
  z-index: 99998;

  /* Spacing */
  display: flex;
  font-size: 18px;
  justify-content: flex-start;
  /* calculated padding is (search_bar top margin) - (element font size) */
  padding-top: calc(3.25vh - .5em);
}

.nav__el {
  /* Spacing */
  margin: 0 1em;

  /* Style */
  color: white;
  text-align: center;
}

.nav__el--account {
  /* Style */
  align-self: flex-end;
}

.nav__el--logout {
  /* Style */
  align-self: flex-end;
}

.p {
  /* Spacing */
  margin: 0;
  padding: 0;

  /* Style */
  cursor: default;
}

.p--account {
  /* Spacing */
  margin: 16px 0 4px;

  /* Style */
  color: white;
  text-align: left;
  font-size: 18px;
}

.p--wordlist {
  /* Spacing */
  margin-bottom: 1rem;

  /* Style */
  font-size: 32px;
}


/* --------------------------------------------------------------------------
 * MEDIA QUERIES
 * -------------------------------------------------------------------------- */

@media screen and (max-width: 1133px) {
  .c-alert {
    /* Dimensions */
    width: 39.65vw;

    /* Position */
    left: calc((100vw - 39.65vw) / 2);
  }

  .c-container--center-third {
    /* Dimensions */
    width: 39.65vw;
  }

  .h1--your-list-title {
    font-size: calc(39.65vw / 5.25)
  }

  .logo--login {
    /* Style */
    font-size: 28.32vw;
  }

  .logo--signup {
    /* Style */
    font-size: 22.66vw;
  }
}

@media screen and (max-width: 992px) {
  .c-alert {
    /* Dimensions */
    width: 47.88vw;

    /* Position */
    left: calc((100vw - 47.88vw) / 2);
  }

  .c-container--center-third {
    /* Dimensions */
    width: 47.88vw;
  }

  .h1--your-list-title {
    font-size: calc(47.88vw / 5.25)
  }

  .logo--login {
    /* Style */
    font-size: 34.2vw;
  }

  .logo--signup {
    /* Style */
    font-size: 27.36vw;
  }
}

@media screen and (max-width: 768px) {

  .c-alert {
    /* Dimensions */
    width: 62.7vw;

    /* Position */
    left: calc((100vw - 62.7vw) / 2);
  }

  .c-container--center-third {
    /* Dimensions */
    width: 62.7vw;
  }

  .c-wordlist__action-btn {
    /* Dimensions */
    width: 12.5%;
  }

  .c-wordlist__difficulty {
    /* Dimensions */
    width: 40%;
  }

  .c-wordlist__word {
    /* Dimensions */
    width: 47.5%;
  }

  .form__label--wordform {
    /* Dimensions */
    width: 12.5%;
  }

  .h1--your-list-title {
    font-size: calc(62.7vw / 5.25)
  }

  .input--wordform-searchbar {
    /* Dimensions */
    width: 47.5%;
  }

  .logo--login {
    /* Style */
    font-size: 44.78vw;
  }

  .logo--signup {
    /* Style */
    font-size: 35.83vw;
  }
}

@media screen and (max-width: 576px) {
  .c-alert {
    /* Dimensions */
    width: 73.15vw;

    /* Position */
    left: calc((100vw - 73.15vw) / 2);
  }

  .c-container--center-third {
    /* Dimensions */
    width: 73.15vw;
  }

  .c-wordlist__action-btn {
    /* Dimensions */
    width: 12.5%;
  }

  .c-wordlist__difficulty {
    /* Dimensions */
    width: 40%;
  }

  .c-wordlist__word {
    /* Dimensions */
    width: 47.5%;
  }

  .form__label--wordform {
    /* Dimensions */
    width: 12.5%;
  }

  .logo--login {
    /* Style */
    font-size: 52.25vw;
  }

  .logo--signup {
    /* Style */
    font-size: 41.8vw;
  }

  .h1--your-list-title {
    font-size: calc(73.15vw / 5.25)
  }

  .input--wordform-searchbar {
    /* Dimensions */
    width: 47.5%;
  }
}


























/* EOF */
